{% block header %}
      <!-- Main Navbar-->
      <header class="header">
        <nav class="navbar">
          <!-- Search Box-->
          <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
              <input type="search" placeholder="What are you looking for..." class="form-control">
            </form>
          </div>
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a href="../../dashboard.html" class="navbar-brand d-none d-sm-inline-block">
                  <div class="brand-text d-none d-lg-inline-block"><span>HARD </span><strong>BOUND</strong></div>
                  <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div></a>
                <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
              </div>
              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Logout    -->
                <li class="nav-item"><a href="/" class="nav-link logout"> <span class="d-none d-sm-inline">Logout</span><i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
     <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->

        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="/static/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">Admin</h1>
              <p>Web Designer</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus-->

          <ul class="list-unstyled">
                    <li class="active"><a href="../../dashboard.html"> <i class="icon-home"></i>HOME </a></li>

                        <li><a href="#categorySubMenu" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-list-ul"></i>GENRE </a></li>
                    <ul id="categorySubMenu" class="collapse list-unstyled ">
                        <li><a href="#addCatModal" data-toggle="modal">Add Genre</a></li>
                        <li><a href="#addBookCatModal" data-toggle="modal">Add Books to Genre</a></li>
                        <li><a href="dispCat_all.html">Display Genre</a></li>
                        <li><a href="#addBookToCat" data-toggle="modal">Add Book to Genre</a></li>
                    </ul>



                    <li><a href="#booksSubMenu" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-book"></i>BOOKS </a></li>
                    <ul id="booksSubMenu" class="collapse list-unstyled ">
                        <li><a href="book">Display All Books</a></li>
                        <li><a href="#addBook" data-toggle="modal">Add New Book</a></li>
                    </ul>

                    <li><a href="#usersSubMenu" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-users"></i>USERS </a></li>
                    <ul id="usersSubMenu" class="collapse list-unstyled ">
                        <li><a href="list">View User List</a></li>
                    </ul>

                    <li><a href="#libSubMenu" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-list"></i>LIBRARY </a></li>
                    <ul id="libSubMenu" class="collapse list-unstyled ">
                        <li><a href="">View User Library</a></li>
                        <li><a href="">Add Book to Library</a></li>

                    </ul>

                    <li><a href="#rncSubMenu" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-comment"></i>RATE AND COMMENT </a></li>
                    <ul id="rncSubMenu" class="collapse list-unstyled ">
                        <li><a href="">View User Library</a></li>
                        <li><a href="">Add Book to Library</a></li>

                    </ul>


          </ul>
        </nav>



{% endblock%}
    <!-- Add Genre Modal -->
        <div class="modal fade" id="addCatModal" tabindex="-1" role="dialog" aria-labelledby="Add Category" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Genre</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                    </div>
                    <form method="post" action="/genre" class="form-validate">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="addCat" class="label-material">Genre</label>
                                <input id="addCat" type="text" name="genre" class="input-material"></input>
                            </div>
                            <div class="form-group">
                                  <label for="sel1">Select Type</label>
                                  <select class="form-control" name="type" id="sel1">
                                    <option value="Fiction">Fiction</option>
                                    <option value="Non-Fiction">Non-Fiction</option>
                                  </select>
                                  </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Modal -->


        <!-- Add Book to Category Modal -->
        <div class="modal fade" id="addBookCatModal" tabindex="-1" role="dialog" aria-labelledby="Add Book to Category Modal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Book to Genre</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="form-validate">
                            <div class="form-group">
                                <label for="addBookCat" class="label-material">Book Genre</label>
                                <input id="addBookCat" type="text" name="category" class="input-material">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <!-- Delete Category Modal -->
        <div class="modal fade" id="deleteCat" tabindex="-1" role="dialog" aria-labelledby="Delete Category" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete Genre</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="form-validate">
                            <div class="form-group">
                                <label for="delCat" class="label-material">Genre</label>
                                <input id="delCat" type="text" name="category" class="input-material">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <!-- Add Book to Category Modal -->
        <div class="modal fade" id="addBookToCat" tabindex="-1" role="dialog" aria-labelledby="Add Book to Category" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Book to Genre</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="form-validate">
                            <div class="form-group">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Book
                                  </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Twilight</a>
                                        <a class="dropdown-item" href="#">Pugad Baboy</a>
                                        <a class="dropdown-item" href="#">Gordon Ramsay Cookbook</a>
                                    </div>
                                </div>
                                <hr>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Genre
                                  </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Romance</a>
                                        <a class="dropdown-item" href="#">Fiction</a>
                                        <a class="dropdown-item" href="#">Non-Fiction</a>
                                        <a class="dropdown-item" href="#">Literrary Cookbook</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->


        <!-- Add Book Modal -->
        <div class="modal fade" id="addBook" tabindex="-1" role="dialog" aria-labelledby="Add Book" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Book</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="form-validate">
                            <div class="form-group">
                                <label for="addBk" class="label-material">Title</label>
                                <input id="addBk" type="text" name="category" class="input-material">
                            </div>
                            
                            <div class="form-group">
                                <label for="addBk" class="label-material">Description</label>
                                <input id="addBk" type="text" name="category" class="input-material">
                            </div>
                            
                            <div class="form-group">
                                <label for="addBk" class="label-material">Author</label>
                                <input id="addBk" type="text" name="category" class="input-material">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
