{% block sideNav %}     

         <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="static/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">Admin</h1>
              <p>Web Designer</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus-->
          <ul class="list-unstyled">
                    <li class=""><a href="index.html"> <i class="icon-home"></i>HOME </a></li>
                    
                        <li><a href="#categorySubMenu" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-list-ul"></i>CATEGORY/GENRE </a></li>
                    <ul id="categorySubMenu" class="collapse list-unstyled ">
                        <li><a href="#addCatModal" data-toggle="modal">Add Category</a></li>
                        <li><a href="#addBookCatModal" data-toggle="modal">Add Books to Category</a></li>
                        <li><a href="dispCat_all.html">Display Category - All</a></li>
                        <li><a href="#dispCatBook" data-toggle="modal">Display Category - By ID</a></li>
                        <li><a href="#deleteCat" data-toggle="modal">Delete Category</a></li>
                        <li><a href="#addBookToCat" data-toggle="modal">Add Book to Category</a></li>
                    </ul>
                    

                    
                    <li class=""><a href="#booksSubMenu" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-book"></i>BOOKS </a></li>
                    <ul id="booksSubMenu" class="collapse list-unstyled ">
                        <li><a href="">Display All Books</a></li>
                        <li><a href="">Add New Book</a></li>
                        <li><a href="">Display Book by ID</a></li>
                        <li><a href="">Delete Book by ID</a></li>
                    </ul>
                    
                    <li class=""><a href="#usersSubMenu" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-users"></i>USERS </a></li>
                    <ul id="usersSubMenu" class="collapse list-unstyled ">
                        <li><a href="">View User List</a></li>
                        <li><a href="">Search Users</a></li>
                        <li><a href="">User Login - Token</a></li>
                        <li><a href="">User Logout - Token</a></li>
                    </ul>
                    
                    <li><a href="#libSubMenu" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-list"></i>LIBRARY </a></li>
                    <ul id="libSubMenu" class="collapse list-unstyled ">
                        <li><a href="">View User Library</a></li>
                        <li><a href="">Add Book to Library</a></li>
                        
                    </ul>
                    
                    <li><a href="#libSubMenu" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-comment"></i>RATE AND COMMENT </a></li>
                    <ul id="libSubMenu" class="collapse list-unstyled ">
                        <li><a href="">View User Library</a></li>
                        <li><a href="">Add Book to Library</a></li>
                        
                    </ul>
                    

          </ul>
        </nav>
        
       {% endblock%}