<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Record</title>
</head>
<body>
Record table
<table>
<tr>
    <th>User Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Balance</th>
    <th>Phone Number</th>
</tr>
{% for row in rows %}
<tr>

    <td>{{row["username "]}}</td>
    <td>{{row["firstname"]}}</td>
    <td>{{row["lastname"]}}</td>
    <td>{{row["email"]}}</td>
    <td>{{row["balance"]}}</td>
    <td>{{row["phonenumber"]}}</td>

</tr>
{% endfor %}
</table>
</body>
</html>
