{% extends 'layout/base.html' %}

{% block content %}


        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Dashboard</h2>
            </div>
          </header>
          <!-- Projects Section-->
           <section class="<projects></projects>">
            <div class="container-fluid">
                                  {% with messages = get_flashed_messages() %}
                      {% if messages %}
                       
                        {% for message in messages %} 

                   <div class="col-lg-12">
                  <div class="card bg-success text-white bg-lighten-3">
                  <div class="card-body">
                   <h3 class="h4">{{ message }}</h3>
                  </div>
                    </div>
                </div>
                  
                  {% endfor %}
                        
                      {% endif %}
                    {% endwith %}
              <!-- Project-->
                {% for book in books %}
                <div class="project">
                  <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                      <div class="project-title d-flex align-items-center">
                        <div class="image has-shadow"><img src="static/img/hp6.jpg " style="height: 110%; width: 100%;" alt="..." class="img-fluid"></div>
                        <div class="text">
                          <h2>{{book["title"]}}</h2>
                          <i>Author: {{book["author"]}}</i>
                        </div>
                      </div>
                      </div>
                    <div class="right-col col-lg-5 d-flex align-items-center">
                      <div class="desc">{{book["description"]}}</div>
                    </div>
                    <div class="right-col col-lg-1 d-flex align-items-center">
                      <form method="post" action="/genre/addbook/{{gid}}"><input type="hidden" name="book_id" value="{{book['book_id']}}"><button type="submit" class="btn btn-warning">Add</button></form>
                      </div>
                    </div>
                  </div>
                {% endfor %}

                </div>

              <!-- Project-->
            </div>
          </section>
          <!-- Page Footer-->
{% endblock %}
        </div>
    </div>
    </div>




